<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vacancy.title %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @vacancy.payment %>
</p>

<p>
  <strong>Body:</strong>
  <%= @vacancy.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vacancy.date %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @vacancy.desc %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @vacancy.skills %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
