<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="trigger">
        <h1><%= @vacancy.title %></h1>
        <hr>
      </div>
    </div>
    <%= render 'components/sidebar' %>
    <div class="col-lg-9">
      <div class="vacancy-details">
        <%= image_tag 'au.jpg' %>
        <ul>
          <li><strong>Зароботная платна:</strong> <%= @vacancy.payment %></li>
          <li><strong>Необходимые навыки:</strong> <%= @vacancy.skills %></li>
          <li><strong>Опубликовано:</strong> <%= @vacancy.date %></li>
        </ul>
        <div class="vacancy-desc">
          <%= @vacancy.desc %>
        </div>
      </div>
    </div>
  </div>
</div>