<div class="trigger">
  <h1>Мы предоставляем спектр услуг:</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="categories">
        <ul>
          <li>Мы предоствляем услуги:</li>
          <%= link_to ('#') do %>
          <li>Бизнес под ключ</li>
          <% end %>
          <%= link_to ('#') do %>
          <li>Трудоустройство</li>
          <% end %>
          <%= link_to ('#') do %>
          <li>Открытие виз</li>
          <% end %>
          <%= link_to ('#') do %>
          <li>Франчайзинг</li>
          <% end %>
          <%= link_to ('#') do %>
          <li>Страхование</li>
          <% end %>
          <%= link_to ('#') do %>
          <li>Сопровождение</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <%= image_tag 'bussines.jpg' %>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non molestiae cum quas quidem dicta numquam, tempora eaque et molestias officia veritatis perspiciatis, porro fuga vero rerum perferendis ipsa, error inventore. Sed corrupti culpa nisi, nulla eligendi cupiditate reprehenderit illo inventore maiores excepturi, dolores eum molestiae libero. Quas et debitis, numquam impedit perspiciatis eveniet labore minus culpa, eligendi vero reiciendis eius quam facere aliquam maiores totam adipisci, rerum voluptas error sed? Atque sit sed natus ipsam nemo illum laborum, exercitationem. Minus molestiae labore earum, doloribus maiores? Enim illum, esse distinctio reprehenderit, eius eaque repudiandae, maiores odit a deleniti quasi vel libero.
      </p>
    </div>
  </div>
</div>
