<div class="trigger">
  <h1>Широкий выбор возможностей с DOP</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <%= render 'components/sidebar' %>
    <div class="col-lg-9">
      <div class="row">
        <% @vacancies.each do |vacancy| %>
        <div class="col-lg-4">
          <div class="vacancy">
            <%= link_to (image_tag "01.jpg"), vacancy %>
            <p>
              <%= link_to vacancy.title, vacancy %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-lg-6">
      <div class="country">
        <%= link_to (image_tag 'au.jpg'), category %>
        <p>
          <%= link_to category.title, category %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
-->